<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/Content/app.css">
  </head>
  <body>
    <%- include('./partials/header'); %>
    <%- include partials/main_nav.ejs %>
    <!-- Main Content -->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold">Kumail Doctor</h1>
        <p class="aboutme">I am a keen and creative software developer with a diverse experience in other fields as well. I enjoy taking my experiences in the hospitality and culinary industry and applying them to my projects and work in software development. I am good at problem solving, working with a team and managing my time appropriately to accomplish tasks in a timely manner.</p>
        <p><img src="Assets/images/profilepic.jpg" height="500" class = "profilepic"></p>
        <p><a href="Assets/images/cv.pdf" class="resume">My Resume</a> </p>
      </div>
    </div>
  </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
