<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
  <h1 class="display-4">Services</h1>
  <p>By the end of Fall 2022, looking to accumulate skills in:</p>
  <ul>
  <li>Web Development (MEAN Stack)</li>
  <li>Python</li>
  <li>Java</li>
  <li>C#</li>
  <li>Oracle SQL / PL</li>
  </ul>
  </div>
</main>  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>